#main-board
{
    margin: 10px;
    height: 578px;
    width: 560px;
    background-image:url(/images/sand.jpg);
}

.flag0
{
    background-repeat:no-repeat;
    background-image: url(/images/redMine.png);
    background-size: 28px;
	background-position: center center;
}

.hovering0
{
	border: 3px dashed red !important;
	border-radius: 4px
}

.flag1
{
    background-repeat:no-repeat;
    background-image: url(/images/greenMine.png);
    background-size: 28px;
	background-position: center center;
}

.hovering1
{
	border: 3px dashed greenyellow !important;
	border-radius: 4px
}


.tile
{
	background-color: #008CBA;
	border-radius: 4px;
	color: transparent;
	/*
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    margin: auto;
    padding: 0;
    border: 0;
	*/
}

.mine
{
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center center;
}

.mines1
{
    /*color: blue;*/
	background-image: url(../images/1.png);
}

.mines2
{
    color: darkseagreen;
	background-image: url(../images/2.png);

}

.mines3
{
    color: red;
	background-image: url(../images/3.png);

}

.mines4
{
    color: darkblue;
	background-image: url(../images/4.png);

}
.mines5
{
    color: darkred;
	background-image: url(../images/5.png);

}
.mines6
{
    color: cadetblue;
	background-image: url(../images/6.png);

}
.mines7
{
    color: black;
	background-image: url(../images/7.png);

}
.mines8
{
    color: gray;
	background-image: url(../images/8.png);

}

.score-board
{
	/*margin-top: 100px*/
	padding: 10px
}

.player-name
{
	width: 120px;
	display: inline-block;
}
.score
{
	width: 80px;
	display: inline-block;
}

.player-score 
{
	display: inline-block;
	
	border-radius: 4px;
}

.player1
{
	
	background-color: #F2DEDE;
}

.player2
{
	background-color: #DFF0D8;
}

.remaining-mines
{
	display: inline-block;
	background-color: red;
	color: white;
	height: 30px;
	width: 50px;
	border-radius: 10px;
	border: 2px darkred solid;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}