.flag0
{
    background-repeat:no-repeat;
    background-image: url(../images/redMine.png);
    background-size: 28px;
}

.hovering0
{
	border: 3px dashed red;
	border-radius: 4px
}

.flag1
{
    background-repeat:no-repeat;
    background-image: url(../images/greenMine.png);
    background-size: 28px;
}

.hovering1
{
	border: 3px dashed greenyellow;
	border-radius: 4px
}


.tile
{
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    margin: auto;
    padding: 0;
    border: 0;
}

.mine
{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.mines1
{
    color: blue;
}

.mines2
{
    color: darkseagreen;
}

.mines3
{
    color: red;
}

.mines4
{
    color: darkblue;
}
.mines5
{
    color: darkred;
}
.mines6
{
    color: cadetblue;
}
.mines7
{
    color: black;
}
.mines8
{
    color: gray;
}

/* http://ng.malsup.com/#!/css-animations-for-ng-hide_ng-show */
.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}
.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}