<div ng-controller="gameController">
	<div class="row padded">
		<div class="col col-lg-12">
			<label for="gameNumber">Game number</label>
			<input readonly class="form-control input-md" id="gameNumber" type="text" ng-model="gameId" style="width: 300px; display: inline-block"></input>
		</div>
	</div>
	<div class="row">
		<div class="col col-md-2">
			<div class="panel panel-danger" class="wide">
				<div class="panel-heading" >
					Player 1<br />
					Score : {{playerScore[0]}}
				</div>
			</div>
		</div>

		<div class="col col-md-8 center">
			<div class="board">
				<div ng-repeat="i in [1, 2, 3, 4, 5, 6,7,8,9,10,11,12,13,14,15,16]" style="height: 30px">
					<div ng-repeat="i in [1, 2, 3, 4, 5, 6,7,8,9,10,11,12,13,14,15,16]" style="display: inline-block; width: 30px">
						<!-- Do not specify any height...-->
						<!-- ng-class="'mines'+beach[$parent.$index][$index].value"

							ng-show="!beach[$index][$parent.$index].covered"
								-->
						<div ng-hide="beach[$index][$parent.$index].covered" class="tile" ng-class="beach[$index][$parent.$index].class">
							<div ng-hide="beach[$index][$parent.$index].mine == true || beach[$index][$parent.$index].neighbouringMines == 0">
								{{beach[$index][$parent.$index].neighbouringMines}}
							</div>
						</div>

						<button ng-disabled="true" ng-show="beach[$index][$parent.$index].covered" ng-click="click($index, $parent.$index)" type="button" class="btn btn-primary btn-tile" ng-model="singleModel"></button>

					</div>
				</div>
			</div>
		</div>

		<div class="col col-md-2">
			<div class="panel panel-info" class="wide">
				<div class="panel-heading">
					Player 2<br />
					Score : {{playerScore[1]}}
				</div>
			</div>
		</div>

	</div>
</div>
