<div ng-controller="gameController" style="margin-left: 10px">
	<div style="margin-top: 10px">
		<div class="score-board">
			<div class="player-score player1">
				<div class="player-name">
					{{players[0].name}}
				</div>
				<div class="score">
					<img style="height: 40px" src="images/redMine.png" /> {{players[0].score}}
				</div>
			</div>
			<div class="remaining-mines">
				{{game.remainingMines}}
			</div>
			<div class="player-score player2">
				<div class="player-name">
					{{players[1].name}}
				</div>
				<div class="score">
					<img style="height: 40px" src="images/greenMine.png" /> {{players[1].score}}
				</div>
			</div>
		</div>

	
		<div style="padding: 10px;display: inline-block; border: dashed 3px red">				
			<table>
				<tr ng-repeat="i in [1, 2, 3, 4, 5, 6,7,8,9,10,11,12,13,14,15,16]">
					<td ng-repeat="i in [1, 2, 3, 4, 5, 6,7,8,9,10,11,12,13,14,15,16]" style="height: 30px width: 30px;">
						<div ng-class="getTileClass($index, $parent.$index)"  ng-click="click($index, $parent.$index)" ng-mouseover="hovering($index, $parent.$index)" style="height: 30px; width: 30px;"></div>									
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div>
		<label for="gameNumber">Game number</label>
		<input readonly="" class="form-control input-sm" id="gameNumber" type="text" ng-model="game.id" style="width: 300px; display: inline-block"></input>	
        <button ng-click="copyToClipboard()" type="button" class="btn btn-primary" style="width: 100px">Copy</button>
	</div>

</div>
