<div ng-controller="connectToGameController" >
		<div>
			<!--
			<label for="nickname">Your nickname</label>
			<input class="form-control input-md" id="nickname" type="text" style="width: 300px" ng-model="newGameInfo.playerNickname"></input>
			
			<label for="gameId">Game id</label>
			<input class="form-control input-md" id="gameId" ng-model="newGameInfo.gameToConnect" type="text" style="width: 300px"></input>

			<button ng-click="connectToGame()" type="button" class="btn btn-primary" style="width: 150px">Connect to game</button>
			-->
		</div>

		<div class="list-group">
			<a href="#"
			 class="list-group-item list-group-item-action"
			 ng-repeat="person in who"
			 ng-click="connectToGame(person.id)">
				{{person.username}}
			</a>
		</div>
</div>