<div style="padding-top: 95px">
	<div style="width: 350px;margin: auto;font-family: Lucida Console; font-size: 50px;font-weight:bold">
		<img style="float: left" src="images/Crystal_Clear_app_kmines.png" />
		<h1>Mine Sweeper</h1>
	</div>
	
	<div style="padding-top: 50px;width: 304px; margin: auto">
		<button ng-click="startGameMenu()" type="button" class="btn btn-outline-primary btn-menu">Start a game</button>
		<button ng-click="connectToGameMenu()" type="button" class="btn btn-outline-primary btn-menu">Connect to a game</button>
	</div>
</div>