<div style="padding-top: 15px">
	<div style="width: 350px;margin: auto;text-align:center;font-family: Lucida Console; font-size: 50px;font-weight:bold">
		<img style="width: 250px" src="images/logo.png" />
		<h1 class="title">Mine Sweeper</h1>
	</div>
	
	<div style="padding-top: 30px;width: 304px; margin: auto">
		<button ng-click="startGameMenu()" type="button" class="btn btn-outline-primary btn-menu">Start a game</button>
		<button ng-click="connectToGameMenu()" type="button" class="btn btn-outline-primary btn-menu">Connect to a game</button>
	</div>
</div>